<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#354C5F">
  <link rel="stylesheet" href="index.css">
  <link rel="icon" href="favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="manifest" href="manifest.webmanifest">
  <script src="index.js" defer></script>
  <title>Ruler for Xperia 10 IV</title>
</head>

<body>
  <div class="main"></div>
</body>

</html>